@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 62.5%;

  --text-weight: 400;
  --title-weight: 700;

  --default-link-color: #c4c4cc;
  --active-link-color: #ffffff;

  --text-color: #e1e1e6;

  --font: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
}

main {
  width: 100%;
  height: 100vh;
  position: absolute;

  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 18.5rem 8% 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  padding: 4rem 7.2rem;
}

.navigation__list {
  display: flex;
  gap: 3.2rem;
}

.navigation__link {
  font-weight: var(--text-weight);
  line-height: 2.2rem;
  font-size: 2.2rem;
  color: var(--default-link-color);

  text-decoration: none;
}

.navigation__link--active {
  font-size: 2.4rem;
  font-weight: var(--title-weight);
  color: var(--active-link-color);
}

.universe__content,
.exploration__content {
  max-width: 64.8rem;
}

.title {
  font-weight: var(--title-weight);
  font-size: 4.8rem;
  line-height: 125%;
  color: var(--text-color);

  margin-bottom: 1.6rem;
}

.text {
  font-weight: var(--text-weight);
  font-size: 1.8rem;
  line-height: 160%;
  color: var(--text-color);
}

.home {
  background-image: url('../assets/bgHome.png');

  text-align: center;

  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.8rem;
}

.home__link {
  padding: 1.2rem 3.2rem;
  border: 2px solid var(--active-link-color);
  border-radius: 5px;

  font-weight: var(--title-weight);
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--active-link-color);
  text-transform: uppercase;
}

.universe {
  background-image: url('../assets/bgUniverse.png');
}

.exploration {
  background-image: url('../assets/bgExploration.png');
}
